@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@import "./settings";
@import "./mixin";
@import "./default";

.header{
	background: url(../img/BG.jpg) center center / cover;
	max-width: 100%;
	min-height: 100vh;
}

.logo{
	font-family: $mont;
	font-weight: bold;
	font-size: 1.8125rem;
	line-height: 2.1875rem;
	color: #FFFFFF;
	span{
		color: $yellow;
		font-style: italic;
		margin-left: -8px;
		font-family: serif;	
		font-size: 2.125rem;
	}
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #c2a4fa;
	z-index: 100;
}

.hamburger{
	display: block;
}

.nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #c2a4fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	transition: .5s ease-in-out;
	&__item{
		margin: 15px 0;
		font-family: $mont;
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		letter-spacing: 0.15rem;
		color: #FFFFFF;
		transition: .4s ease-in-out;
		&:hover{
			text-decoration: underline;
			color: $yellow;
		}
	}
}
.nav.active{
	transform: translateX(0);
}

.banner{
	padding-top: 150px;
	&__under-title{
		font-family: $mont;
		font-weight: bold;
		font-size: 0.875rem;
		line-height: 1.0625rem;
		color: #FFFFFF;
		margin-bottom: 1.25rem;
	}
	&__title{
		max-width: 653px;
		font-family: $mont;
		font-weight: bold;
		font-size: 8vw;
		line-height: 8vw;
		color: #FFFFFF;
		margin-bottom: 2.8125rem;
	}
	&__btn{
		padding: 1.0625rem 2.0625rem;
		border-radius: 50px;
		background: $yellow;
		font-family: $mont;
		font-weight: bold;
		font-size: 0.75rem;
		color: #292929;
		margin-bottom: 1.5625rem;
		transition: .4s ease-in-out;
		&:hover{
			background: $color;
		}
	}
	&__question{
		font-family: $arvo;
		font-size: 18px;
		line-height: 26px;
		color: #FFFFFF;
		max-width: 214px;
	}
}

.cards{
	margin-bottom: 6.25rem;
	&__content{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
		gap: 20px;
	}
}

.card{
	cursor: pointer;
	max-width: 360px;
	min-height: 440px;
	background: #F7F8F9;
	border-radius: 8px;
	&:nth-child(5){
		max-width: 740px;
	}
	&__image{
		overflow: hidden;
	}
	&__img{
		width: 100%;
		border-radius: 8px 8px 0 0;
		transition: .6s ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
	}
	&__info{
		padding: 1.5625rem;
	}
	&__title{
		font-family: $arvo;
		font-size: 1.375rem;
		line-height: 2rem;
		color: #212121;
		margin-bottom: 0.375rem;
	}
	&__text{
		max-width: 269px;
		color: $color;
		font-size: 0.875rem;
		line-height: 1.625rem;
		margin-bottom: 0.9375rem;
	}
	&__text--more{
		max-width: 680px;
	}
	&__footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__span{
		color: $color;
		font-weight: bold;
		font-size: 0.625rem;
		line-height: 0.75rem;
		display: flex;
		align-items: center;
	}
	&__icon{
		margin-right: 0.625rem;
	}
}
.color--white{
	color: #fff;
}
.card--dark{
	background-color: #292929;
}
.card--yellow{
	background-color: $yellow;
}

.footer{
	padding-top: 5rem;
	background: #2C2C2C;
	min-height: 560px;
	&__top{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(277px,1fr));
		margin-bottom: 4.375rem;
	}
	&__links-title{
		margin-bottom: 1.0625rem;
		font-family: $mont;
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		color: #FFFFFF;
	}
	&__links{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
	&__link{
		color: $color;
		font-size: 0.875rem;
		line-height: 1.5rem;
		margin-bottom: 0.5625rem;
		transition: .4s ease-in-out;
		&:hover{
			text-decoration: underline;
			color: #fff;
		}
	}
	&__icon{
		color: #fff;
		transition: .4s ease-in-out;
		&:hover{
			color: #c2a4fa;
		}
	}
	&__link-icon{
		margin-right: 50px;
		&:nth-child(4){
			margin: 0;
		}
	}
	&__bottom{
		padding-top: 0.9375rem;
		border-top: 2px solid rgba(255, 255, 255, 0.1);
	}
	&__bottom-content{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__logo{
		margin-bottom: 50px;
	}
}

.support{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&__item{
		font-family: $mont;
		font-style: normal;
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		color: #FFFFFF;
		margin-bottom: 30px;
	}
}

.design{
	margin-top: 60px;
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	line-height: 1.375rem;
	color: #8c8c8c;
}